<div class="container" (submit)="addPhone()">
  <form #registerForm="ngForm">
    <h1 class="text-center">
      Add Phone
    </h1>
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" required name="brand" [(ngModel)]="model.brand" placeholder="Brand">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" required name="model" [(ngModel)]="model.model" placeholder="Model">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" required name="price" [(ngModel)]="model.Price" placeholder="Price">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" required name="releaseDate" [(ngModel)]="model.releaseDate" placeholder="Release Date" bsDatepicker>
    </div>
    <div class="from-group text-center">
      <button class="btn btn-success" type="submit">Add phone</button>
    </div>
  </form>
</div>