<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" >PSR09620</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/data-table']" class="nav-link">Data table</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/add-phone']" class="nav-link">Add phone</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/file-upload']" routerLinkActive="router-link-active"  class="nav-link">Upload file</a>
      </li>
    </ul>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input required [(ngModel)]="model.email" class="form-control mr-sm-2" type="text" name="email"
        placeholder="Email">
      <input required [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" name="password"
        placeholder="Password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
      </div>
    </div>

  </div>
</nav>
