<div class="container mt-5">
  <div *ngIf="!registerMode" >
    <h1>
      This is a web project created by Sébastien CHARTON
    </h1>
    <p class="lead">Please create an account to access the project</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg"(click)="registerToggle()" >Register</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
        </div>
      </div>
    </div>
</div>

